body {
    padding: 0;
    margin: 0;
    max-height: 1076;
}
.for1 {
    /* padding: 0px; */
    /* margin: 0px; */
    width: 1920px;
    height: 880px;
    border: 0;
}
.mmenu {
    display: block; 
    top: 880px;
    position: absolute;
    width: 1920px;
    height: 200px;
    background-color: black;
}