body {
    /* padding: 0; */
    /* margin: 0; */
    background: rgb(14,18,14);
    background: linear-gradient(90deg, rgba(14,18,14,1) 0%, rgba(2,77,35,1) 24%, rgba(15,60,34,1) 77%, rgba(0,0,0,1) 100%);
}
.for1 {
    /* padding: 0px; */
    /* margin: 0px; */
    width: 780px;
    height: 880px;
    position: absolute;
    border: 0;
    left: 10px;
    top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.mmenu {
    display: block; 
    top: 890px;
    position: absolute;
    width: 780px;
    left: 10px;
    height: 125px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(0,79,35);
    background: radial-gradient(circle, rgba(0,79,35,1) 0%, rgba(15,60,34,1) 32%, rgba(0,0,0,1) 100%);
}
.leftmenu {
    top: 10px;
    position: absolute;
    width: 970px;
    height: 1005px;
    left: 850px;
    background-color: black;
    border-radius: 10px;
    opacity: 50%;
}
.ggimg {
    top: -20px;
    left: 41.5%;
    border: 5px rgba(0,79,35,1) solid;
    border-radius: 100px;
    position: absolute;
    width: 125px;
    height: 125px;
}
.atkb {
    position: absolute;
    width: 125px;
    border-radius: 5px;
    top: 25px;
    left: 10px;
}
.defb {
    position: absolute;
    width: 125px;
    border-radius: 5px;
    top: 25px;
    left: 170px;
}
.magb {
    position: absolute;
    width: 125px;
    border-radius: 5px;
    top: 25px;
    right: 170px;
}
.invb {
    position: absolute;
    width: 125px;
    border-radius: 5px;
    top: 25px;
    right: 10px;
}
.atkb:hover {
    scale: 1.05;
    rotate: 2deg;
}
.defb:hover {
    scale: 1.05;
    rotate: -2deg;
}
.magb:hover {
    scale: 1.05;
    rotate: 2deg;
}
.invb:hover {
    scale: 1.05;
    rotate: -2deg;
}